@import "tailwindcss";

@theme {
    --color-off-white: #fefefe;
    --color-off-black: #2e2e2e;
}

* {
    box-sizing: border-box;
    font-family: "Montserrat";
}

body {
    padding: 0;
    margin: 0;
}

code {
    background: #e4e4e7;
    font-family: monospace;
    font-weight: bolder;
    padding: 0 5px;
    border-radius: 4px;
}

ol {
    list-style: decimal;
    padding-left: 24px;
}


h2 {
    font-size: 1.8em;
    font-weight: bold;
    letter-spacing: 1.4px;

    padding: 20px 0;
}

h3 {
    font-size: 1.4em;
    font-weight: bold;
    letter-spacing: 1.4px;

    padding: 10px 0;
}

p {
    letter-spacing: 0.05em;
    padding-bottom: 10px;
}