---
const LINKS = [
    {text: 'Introduction', id: 'intro'},
    {text: 'Installing KiCad', id: 'install'},
    {text: 'Setting Up a Developer Environment', id: 'setup'},
    {text: 'Editing a Schematic Layout', id: 'sch'},
    {text: 'Editing a PCB Layout', id: 'pcb' },
    {text: 'Exporting Production Files', id: 'gerbers'},
    {text: 'End Note', id: 'end'},
    {text: 'References', id: 'references'}
]

const { props } = Astro.props
---
<nav> 
    <ul class="flex flex-col gap-3 leading-tight">
        {LINKS.map((link) => (
            <li><a href={`#${link.id}`} class="text-base cursor-pointer block rounded-lg px-3 py-2 hover:bg-zinc-200 transition">{link.text}</a></li>
        ))}
    </ul>
</nav>
